@import "tailwindcss";



.custom-brand-colour {
  color: #FF6600 !important;
  background: #ffffff !important;
}

.ant-layout-sider {
  background: #ffffff !important;
}
.ant-layout-sider-trigger {
  background: #FF6600 !important;
}

/* Override Ant Design selected menu item */
.ant-menu-item.ant-menu-item-selected {
  background-color: #FF6600 !important; /* Background around text */
  color: white !important; /* Text color */
  border-radius: 4px; /* Optional: Makes it look smoother */
}

/* Ensure icons inside the selected menu item also turn white */
.ant-menu-item.ant-menu-item-selected .anticon {
  color: white !important;
}

/* Ensuring hover effect is consistent */
.ant-menu-item:hover {
  background-color: #FF6600 !important;
  color: white !important;
}

/* Ensure text inside the menu is white when selected */
.ant-menu-item-selected .ant-menu-title-content {
  color: white !important;
}

@media(min-width: 767px) {
  .hamburger-menu  {
    display: none!important;
  }
}
